.login-box {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    /* border: 2px solid #a1a1c1; */
    box-shadow: 0px 0px 5px #818181;
    border-radius: 10px;
    max-width: 400px;
    color: red;
}

body {
    background-color: #dddddd;
}

.infodiv {
    color: #515151;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: scale-down;
}


.input-field {
    font-size: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #818181;
    color: #515151;
}

.enter-button {
    width: calc(100% - 40px);
    margin: 20px;
    height: 35px;
    background-color: royalblue;
    border: none;
    box-shadow: 0px 0px 5px #818181;
    border-radius: 10px;
    font-size: 25px;
    color: #f1f1f1;
    font-family: 'Segoe UI';
}