body {
    background-color: #dddddd;
}

.signup-box {
    width: 50%;
    height: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    /* border: 2px solid #a1a1c1; */
    box-shadow: 0px 0px 5px #a1a1a1;
    border-radius: 10px;
    max-width: 400px;
    color: red;

}

.infodiv {
    color: #515151;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: scale-down;
}

.input-field {
    font-size: 30px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 5px;
    border: 3px solid #a1a1a1;
    color: #515151;
}

.enter-button {
    width: 100%;
    margin: 0px;
    height: 35px;
    background-color: #5286ff;
    border: none;
    box-shadow: 0px 0px 5px #a1a1a1;
    border-radius: 10px;
    font-size: 25px;
    color: #f1f1f1;
    font-family: 'Segoe UI';
}