body {
    background-color: #dddddd;
}

img {
    height: 100px;
    margin: 10px;
    border: 3px solid #a1a1a1;
    width: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin-right: 20px;
}

.mainbox {
    background-color: #f1f1f1;
    width: 70%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset -2px -2px 0px #a1a1a1;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profilebox {
    background-color: #dddddd;
    height:120px;
    width: 100%;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* margin-top: 20px; */
    margin-bottom: 20px;
    border-radius: 10px;

}

.profile-info {
    color: #515151;
    font-size: 30px;
    padding-top: 10px;
    float: left;
}

.profile-expertise {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 15px;
}

.schedule {
    height: fit-content;
    width: 100%;
    display: inline-block;
}

.appointment {
    float: left;
    width: 40%;
    height:120px;
    background-color: #dddddd;
    margin-right:5%;
    margin-left: 5%;
    /* display: inline-block; */
    border-radius: 10px;
}

.appointment-img {
    float: left;
}

.appointment-info {
    width:100%;
    height: fit-content;
    padding-top: 20px;
    padding-right: 20px;
    justify-content: center;
    
}

name {
    font-size: 20px;

}

.reason {
    margin-left: 10px;
}

.editButton {
    float: right;
    margin-right: 20px;
    height: 36px;
    width:80px;
    margin-top: 42px;
    font-size: 20px;
    background-color: #5286ff;
    border:none;
    border-radius: 5px;
    color: #f1f1f1;
    cursor: pointer;
}